@font-face {
    font-family: 'mainFont';
    src: url('../../assets/marcelusFont.ttf');
}

.footer-container {
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    color: aliceblue;
    height: 3.12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'mainFont';
}

.footer-info-container {
    width: 15%;
    margin-left: 1rem;
}



@media (max-width: 1000px) {

    .footer-info-container {
        display: none;
    }

    .footer-copyright-container {
        margin-left: 1rem;
    }
}

@media (max-width: 500px) {
    
    .footer-copyright-container {
        font-size: 12px;
    }
}