
.game-container{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-top-container{
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.button-container.sticky {
    position: fixed;
    top: 5rem;

}

.start-end-btn {
    height: 2rem;
    width: 7rem;
    border-radius: 13px;
    border: none;
    background-color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    transition: opacity 1s ease, visibility 1s ease, transform 0.5s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    font-family: "Bangers";
    font-size: 24px;
}

.start-end-btn.start {
    color: green;
    background-color: rgb(254, 255, 252);
    border: 1px solid green;
}

.start-end-btn.start.wiggle {
    animation: wiggle 1.5s;
}

.start-end-btn.start:hover {
    background: green;
    color: #ffffff;
    
}

.start-end-btn.end {
    background-color: #ffffff;
    color: rgb(169, 0, 0);
    
}

.start-end-btn.end:hover {
    background-color: rgb(169, 1, 1);
    color: #ffffff;
    border-color: #ffffff;
}

.start-end-btn.hidden {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    pointer-events: none;
}


.start-end-btn:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 3px 4px rgba(0, 0, 0, 0.2);
}

.start-end-btn:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
}


.game-header-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#ffffffd8
}

.game-header-container.sticky {
    opacity: 0;
    visibility: hidden;
}

.game-header {
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: "Luckiest Guy";
}

.game-description {
    margin: 0;
    text-align: center;
    font-family: "Lato";
}

.instructions-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    align-items: center;
}

.game-instructions {
    margin-top: 0;
    margin-bottom: 1rem;
    color:#ffffffd8;
    font-family: "Lato";
}

.target-container{
    display: flex;
    gap: 2rem;
    background-color: #000000d2;
    padding: 0.5rem;
    width: fit-content;
    border-radius: 10px;
}

.target-container.sticky {
    position: fixed;
    top: 5rem;
    background-color: #000000d2;
}

.target-wrapper {
    position: relative;
    display: inline-block;
}

.target-image {
    height: 5rem;
    margin: 0;
    border-radius: 10px;
    object-fit: cover;
    border: 2px solid transparent;
    transition: border-color 0.3s;
    
}

.target-image.located {
    border-color: rgb(0, 255, 0);
    opacity: 0.6;
}

.target-checkmark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: rgb(0, 255, 0);
    font-weight: bold;
    pointer-events: none;
}

.timer-container{
    margin-bottom: 1rem;
    position: absolute;
    right: 1.5rem;
    top: 125px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 10px;
    width: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 24px;
}

.timer-container.sticky {
    position: fixed;
    top: 5.5rem;
    background-color: #000000d2;
    color: #ffffff;
}

.timer-text {
    margin: 0;
    font-family: "Bangers";
}


.image-container{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-image {
    max-width: 98.99vw;
}

.game-image:hover {
    cursor: url('../../assets/images/target2.png'), crosshair;
}

.game-over-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000000da;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    padding: 3rem;
    border-radius: 25px;
    width: 250px;
}

.game-over-header {
    color: aliceblue;
    text-align: center;
    font-family: "Bangers";
    font-size: 40px;
    margin-bottom: 1rem;
}

.result-time {
    align-self: center;
    color: aliceblue;
    font-family: "Lato";
    margin-bottom: 2rem;
    font-size: 20px;
}

.game-over-btn-container {
    display: flex;
    justify-content: space-around;
}

.game-over-btn {
    width: 6rem;
    height: 2rem;
    border-radius: 10px;
    transition: all 0.8s ease-in-out; 
    font-weight: bold;
    text-align: center;
    display: inline-block;
    font-family: "Bangers";
    font-size: 20px;
}

.play-again-btn {
    color: green;
    background-color: rgb(254, 255, 252);
    border: 1px solid green;
    transition: background-color 0.8s ease, color 0.8s ease, border 0.8s ease;
}

.play-again-btn:hover {
    background-color: green;
    color: #ffffff; 
    cursor: pointer;
}

.quit-btn {
    background-color: #ffffff;
    color: rgb(169, 0, 0);
    border: 1px solid rgb(169, 1, 1);
    transition: background-color 0.8s ease, color 0.8s ease, border 0.8s ease;
}

.quit-btn:hover {
    background-color: rgb(169, 1, 1);
    color: #ffffff;
    cursor: pointer;
}


.result-data-capture-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result-input-container {
    display: flex;
    flex-direction: column;
    width: 10rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

input#username {
    text-align: center;
    border-radius: 8px;
    height: 1.5rem;
    width: 10rem;
    font-family: "Lato";
}

.score-submit-btn {
    border-radius: 8px;
    width: 10rem;
    height: 2rem;
    background-color: #ffffff;
    color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Bangers";
    font-size: 20px;
}

.score-submit-btn:hover {
    cursor: pointer;
    background: green;
    color: #ffffff
}

.submit-loading-icon {
    height: 1.8rem;
}

.score-submit-btn.disabled-submit-btn:hover {
    background-color: #ffffff;
    cursor: default;
}

/* DROPDOWN MENU STYLES */

.dropdown-menu {
    position: absolute;
    background-color: #010a26f3;
    border-radius: 20px;
    padding: 10px;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    
}

.dropdown-menu li {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    color: #ffffff;
    gap: 2px;
    font-family: "Lato";
    font-size: 15px;
}

.dropdown-menu li:hover {
    border: 2px solid #004eea;
    border-radius: 15px;
}

.dropdown-target-image {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
}

.target-located {
    text-decoration: line-through;
    color: gray;
}


/* KEY FRAMES */

@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(-5deg);
    }
    20% {
        transform: rotate(5deg);
    }
    30% {
        transform: rotate(-5deg);
    }
    40% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(-5deg);
    }
    60% {
        transform: rotate(5deg);
    }
    70% {
        transform: rotate(-5deg);
    }
    80% {
        transform: rotate(5deg);
    }
    90% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}