
.home-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-title {
    font-family: "Luckiest Guy";
    margin-bottom: 3rem;
    color: rgba(255, 255, 255, 0.868);
}

.link-container {
    display: flex;
    width: 80%;
    justify-content: space-around;
    
}

.preview-container {
    width: 20rem;
    height: 20rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.preview-element {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
    background-size: cover;
    box-shadow: rgb(24, 97, 255) 0px 20px 30px -10px;
    transition: transform 0.2s ease-in-out;
}

.preview-element:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.preview-element.easy {
    background-image: url('../../assets/images/photo-tagging-easy.jpeg');
}

.preview-element.medium {
    background-image: url('../../assets/images/photo-tagging-medium.jpeg');
}

.preview-element.hard {
    background-image: url('../../assets/images/photo-tagging-hard.jpg');
}

.preview-element-name-container {
    background-color: #000000eb;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.999) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.preview-element-name {
    color: rgba(255, 255, 255, 0.872);
    font-family: "Bangers";
}

a:-webkit-any-link {
    text-decoration: none;
}

.leaderboard-link-container {
    margin-top: 2rem;
}

.leaderboard-link-container a{
    text-decoration: none;
    color: #ffffffae;
    font-family: "Luckiest Guy";
}