

.leaderboard-element-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    
.leaderboard-element-container h1 {
    font-size: 24px;
    margin-bottom: 10px;
}
    
.leaderboard-element-container p {
    font-size: 16px;
    margin-bottom: 20px;
}
    
.leaderboard-element-container ul {
    list-style: none;
    padding: 0;
}

.leaderboard-element-header-container {
    height: 10rem;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leaderboard-element-header-container.easy {
    background-image: url('../../assets/images/photo-tagging-easy.jpeg');
}

.leaderboard-element-header-container.medium {
    background-image: url('../../assets/images/photo-tagging-medium.jpeg');
}

.leaderboard-element-header-container.hard {
    background-image: url('../../assets/images/photo-tagging-hard.jpg');
}

.leaderboard-element-header-title-container {
    background-color: #000000e3;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.999) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    font-weight: bold;
    font-family: "Bangers";
    font-size: 24px;
}


.leaderboard-element-score-container {
    width: 90%;
    height: 100%;
    background-color: #010a26;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem; /* adjust this value to your desired height */
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #000000;
}

::-webkit-scrollbar-thumb {
    background-color: #1900a4;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #2100d9;
    cursor: pointer;
}

.leaderboard-element-score-header-container {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 8rem;
}

.leaderboard-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
}

.leaderboard-table {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.leaderboard-row {
    display: grid;
    grid-template-columns: 40px auto 50px;
    align-items: center;
    background-color: #03205e;
    padding: 10px;
    border-radius: 8px;
    color: white;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: "Lato";
}

.leaderboard-first-place {
    font-weight: bold;
    color: gold;
}

.leaderboard-rank {
    font-size: 18px;
    font-weight: bold;
    
}

.leaderboard-name {
    text-align: left;
    padding-left: 25px;
}

.leaderboard-score {
    text-align: right;
    font-weight: bold;
    padding-right: 25px;
}
